.hero {
  .distribute-rows {
    // leave extra space for the header to be placed
    padding-top: 8rem;
  }
}

.display-title {
  @extend .display-3;
  @extend .text-monospace;
  line-height: .85;
}

.share-this {
  font-size: 0.5625rem;
  text-transform: uppercase;
}

.social-icons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 9rem;
}

.action-circle {
  border-radius: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12rem;
  width: 12rem;

  @include media-breakpoint-up(md) {
    height: 18vw;
    width: 18vw;
  }
  
  &__img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 2;

    img {
      width: 6rem;

      @include media-breakpoint-up(md) {
        width: 8vw;
      }
    }

    // To compensate visual
    img[alt="fist"] {
      margin-bottom: $spacer;
    }
  }

  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: $spacer * 3;

    .action-circle + .action-circle {
      margin-top: $grid-gutter-width;
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      max-width: 60vw;

      .action-circle + .action-circle {
        margin-top: 0;
      }
    }
  }

  &__title {
    @extend .text-monospace;
    font-size: $h5-font-size;
    flex: 1;
    line-height: .75;
    
    @include media-breakpoint-up(md) {
      font-size: 2.5vw;
    }
  }
}