@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700");
@import url("https://s3.amazonaws.com/tds-static/fonts/moregothic/1.0.0/More+Gothic+Bold.css");

$red:       #FF4630;
$purple:    #DAC4F5;
$green:     #D6FFB8;
$yellow:    #FFED9C;

$body-bg:   #FAF9F5;

$font-family-sans-serif:      "Libre Franklin",sans-serif;
$font-family-monospace:       "More Gothic Bold", Impact, sans-serif;

// Bootstrap required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Bootstrap optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";

// Run custom code after bootstrap loaded
@import "./functions";
@import "./typography";

// TODO: ideally, we shouldn't need to import those styles from here
// Styles from components to allow usage of variables
@import "../sections/Hero/style";