@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,600");
@import url("https://s3.amazonaws.com/tds-static/fonts/moregothic/1.0.0/More+Gothic+Bold.css");

$blue:                        #D8F6FF;
$red:                         #FF4630;
$purple:                      #DAC4F5;
$green:                       #D6FFB8;
$yellow:                      #FFED9C;

$body-bg:                     #FAF9F5;

$primary:                     $red;

$font-family-sans-serif:      "Libre Franklin",sans-serif;
$font-family-monospace:       "More Gothic Bold", Impact, sans-serif;
$font-weight-bold:            600;

$headings-margin-bottom:      0;
$paragraph-margin-bottom:     0;

// Grid needs to be set in px
$grid-gutter-width:           40px;

// this will allow us to create better responsive font sizes
$display1-size:               6em;
$display2-size:               5.5em;
$display3-size:               4.5em;
$display4-size:               3.5em;

$display1-weight:             $font-weight-bold;
$display2-weight:             $font-weight-bold;
$display3-weight:             $font-weight-bold;
$display4-weight:             $font-weight-bold;

// bootstrap required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// bootstrap optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";

// run custom code after bootstrap loaded
@import "./functions";
@import "./layout";

// TODO: ideally, we shouldn't need to import those styles from here
// styles from components and sections to allow usage of variables
@import "../sections/Hero/style";
@import "../sections/Informative/style";