@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700");
@import url("https://s3.amazonaws.com/tds-static/fonts/moregothic/1.0.0/More+Gothic+Bold.css");

$red:                       #FF4630;
$purple:                    #DAC4F5;
$green:                     #D6FFB8;
$yellow:                    #FFED9C;

$body-bg:                   #FAF9F5;

$font-family-sans-serif:      "Libre Franklin",sans-serif;
$font-family-monospace:       "More Gothic Bold", Impact, sans-serif;

// Grid needs to be set in px
$grid-gutter-width:           40px;

// this will allow us to create better responsive font sizes
$display1-size:               6em;
$display2-size:               5.5em;
$display3-size:               4.5em;
$display4-size:               3.5em;

// bootstrap required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// bootstrap optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/utilities";

// run custom code after bootstrap loaded
@import "./functions";
@import "./layout";

// TODO: ideally, we shouldn't need to import those styles from here
// styles from components and sections to allow usage of variables
@import "../sections/Hero/style";