/*
  This class is intended to work alongside with the layout. Be careful with the styles to not break
  the layout expectations often related with paddings, margins and sizes.
*/
.distribute-rows {
  @include media-breakpoint-up(xl) {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  section > & {
    padding-bottom: ($spacer * 3);
    padding-top: ($spacer * 3);
  }

  section > &.extra-pad {
    padding-bottom: ($spacer * 6);
    padding-top: ($spacer * 6);
  }
}

.main {
  &:not(.no-pad) {
    // leave extra space for the header to be placed
    padding-top: $header-height-md;
  }
}

.markdown-content {
  p + p {
    margin-top: 1rem;
  }
}