section.informative {
  font-size: 0.7rem;
  
  @include media-breakpoint-up(xl) {
    font-size: 1rem;
  }  
}

.informative {
  background: $blue;
  background: linear-gradient(0deg, $body-bg 0%, $blue 100%);

  &__title,
  &__content {
    margin: 0 auto;
    max-width: 100%;
  }

  &__title {
    font-weight: $font-weight-bold;
    margin-bottom: $spacer * 3;
    width: 37rem;
    
    @include media-breakpoint-up(xl) {
      width: 54rem;
    }
  }

  &__content {
    font-size: $font-size-base;
    width: 30rem;
    margin-bottom: $spacer * 1.5;
  }
}