.informative {
  background: $blue;
  background: linear-gradient(0deg, $body-bg 0%, $blue 100%);
  
  &__title {
    @extend %section-title;
    // As the title is long we need special treatment
    @extend .display-4;
  }
  
  &__content {
    font-size: 1rem;
    width: 30rem;
    margin: 0 auto;
    margin-bottom: $spacer * 1.5;
    max-width: 100%;
    
    @include media-breakpoint-up(sm) {
      font-size: $font-size-base;
    }
  }
}