// Overwrite the styles for the header component session links
.header .session-links .btn {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: normal;
  text-transform: capitalize;
}

// Overwrite the styles for the dc menu collapser component
.menu .menu-nav .nav-item .nav-link.btn.btn-transparent {
  text-transform: capitalize;
}

.session-user-items {
  display: flex;
}

.header-links {
  display: none;

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.user-dropdown-items a {
  text-decoration: none;
}

.nav-item {
  display: block;

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}