.cta {
  .display-title {
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
  }

  // Fix the layout unlike other sections
  .distribute-rows {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}